name: Tests

on:
  push:
  pull_request:
  schedule:
    - cron: '0 0 * * *'

jobs:
  tests:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: true
      matrix:
        php: [7.4, '8.0', 8.1, '8.2']
        laravel: [8.0, 9.0, 10.0, '11.0', '12.0']
        exclude:
          - php: 7.4
            laravel: 10.0
          - php: 8.0
            laravel: 10.0
          - php: 7.4
            laravel: 9.0
          - laravel: '11.0'
            php: 7.4
          - laravel: '11.0'
            php: '8.0'
          - laravel: '11.0'
            php: 8.1
          - laravel: '12.0'
            php: 7.4
          - laravel: '12.0'
            php: '8.0'
          - laravel: '12.0'
            php: 8.1

    name: PHP ${{ matrix.php }} - Laravel ${{ matrix.laravel }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: dom, curl, libxml, mbstring, zip
          coverage: none

      - name: Install dependencies
        run: |
          composer require "illuminate/contracts=^${{ matrix.laravel }}" --prefer-dist --no-interaction --no-update
          composer update --prefer-dist --no-interaction --no-progress

      - name: Execute tests
        run: vendor/bin/phpunit
